form span {
  margin: 0 20px 0 20px; }

.board {
  background-color: #612192;
  text-align: center;
  width: 800px;
  margin: 0 auto 0 auto;
  padding: 20px 40px 20px 40px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px; }
  .board .tile {
    background-color: #D4D46A;
    float: left;
    font-size: 4em;
    line-height: 100px;
    color: #261758;
    text-align: center;
    cursor: pointer;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px; }
  .board:after {
    clear: both; }
  .board .winner {
    background-color: #FFFFAA; }

/* Layouts for the three different widths */
/* these are just begging for media queries for full responsivness */
.row5 .tile {
  width: 100px;
  height: 100px;
  margin: 20px; }

.row5 .tile:nth-child(5n+1) {
  clear: both; }

.row6 .tile {
  width: 80px;
  font-size: 4em;
  line-height: 80px;
  height: 80px;
  margin: 20px; }
  .row6 .tile .tile:nth-child(6n+1) {
    clear: both; }

.row7 .tile {
  width: 60px;
  height: 60px;
  font-size: 3em;
  line-height: 60px;
  margin: 20px; }
  .row7 .tile .tile:nth-child(7n+1) {
    clear: both; }

.countdown {
  left: 0;
  width: 480px;
  height: 480px;
  margin: auto;
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 500;
  text-align: center; }
  .countdown.move_to_top {
    margin: 0 auto;
    height: auto;
    top: 0; }
  .countdown button {
    font-size: 4em; }
  .countdown h1 {
    background: #9775AA;
    color: #403075;
    padding: 5px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    border: 2px solid #554600; }
  .countdown p {
    background: #9775AA;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    font-size: 5em;
    color: #403075;
    border: 2px solid #554600; }

.hideo {
  visibility: hidden; }

.invisibo {
  position: absolute;
  top: -9000px;
  left: -9000px; }

body {
  background-image: url("assets/tile.jpg");
  background-repeat: repeat-y;
  background-size: 10%; }

.container {
  background-color: #fefefe;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px; }

.clear {
  clear: both; }

.clearfix:after {
  content: " ";
  clear: both; }
  .clearfix:after:before {
    content: " "; }
