.board {
    background-color: #612192;
    text-align: center;
    width: 800px;
    margin: 0 auto 0 auto;
    padding: 20px 40px 20px 40px;

    @include corners;
    .tile {
        background-color: #D4D46A;
        float: left;
        font-size: 4em;
        line-height: 100px;
        color: #261758;
        text-align: center;
        cursor: pointer;
        @include corners;
    }

    &:after {
        clear: both;
    }

    .winner {
        background-color: #FFFFAA;
    }
}
/* Layouts for the three different widths */
/* these are just begging for media queries for full responsivness */
.row5 .tile {
    width: 100px;
    height: 100px;
    margin: 20px;
}

.row5 .tile:nth-child(5n+1) {
    clear: both;
}


.row6 .tile {
    width: 80px;
    font-size: 4em;
    line-height: 80px;
    height: 80px;
    margin: 20px;

    & .tile:nth-child(6n+1) {
        clear: both;
    }
}

.row7 .tile {
    width: 60px;
    height: 60px;
    font-size: 3em;
    line-height: 60px;
    margin: 20px;

    & .tile:nth-child(7n+1) {
        clear: both;
    }
}

.countdown {
  left: 0;
  width: 480px;
  height: 480px;
  margin: auto;
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 500;
  text-align: center;

  &.move_to_top {
      margin: 0 auto;
      height: auto;
      top: 0;

  }

  button {
      font-size: 4em;
  }

  h1 {
      background: #9775AA;
      color: #403075;
      padding: 5px;
      @include corners;
      border: 2px solid #554600;
  }

  p {
      background: #9775AA;
      @include corners;
      font-size: 5em;
      color: #403075;
      border: 2px solid #554600;
  }
}
