@import "mixins.scss";
@import "forms.scss";
@import "board.scss";

.hideo {
    visibility: hidden;
}

.invisibo {
    position: absolute;
    top: -9000px;
    left: -9000px;
}

body {
    background-image: url('assets/tile.jpg');
    background-repeat: repeat-y;
    background-size: 10%;
}
.container {
    background-color: #fefefe;
    @include corners;
}

.clear {
    clear: both;
}

.clearfix:after {
  content: " ";

  clear: both;

  &:before {
      content: " ";
  }
}